<div class="px-4 py-12 mx-auto mt-8 border-t border-gray-200 max-w-7xl sm:px-6 md:flex md:justify-between lg:px-8">
  <div class="mb-8 text-center md:mb-0 md:text-left">
    <div class="mb-2 text-2xl font-bold">Trampoline</div>
    <p class="text-gray-600">
      Тверь, 15 лет Октября, 10Б<br />
      Офис JetRockets на втором этаже здания.
    </p>
    <p class="mt-2">
      <%=
        link_to 'Напишите нам',
                'mailto:hello@trampoline.to',
                class: 'text-indigo-600 underline-offset-2 border-b border-transparent hover:border-indigo-600 transition ease-in-out'
      %>
    </p>
  </div>

  <div class="flex justify-center space-x-4 md:order-2">
    <%= link_to "https://www.facebook.com/trampoline.to", rel: "nofollow", target: "_blank", class: 'text-gray-400 hover:text-gray-500' do %>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
        <path
          fill-rule="evenodd"
          d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
          clip-rule="evenodd"
        ></path>
      </svg>
    <% end %>

    <%= link_to "https://www.instagram.com/trampoline.to", rel: "nofollow", target: "_blank", class: 'text-gray-400 hover:text-gray-500' do %>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
        <path
          fill-rule="evenodd"
          d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
          clip-rule="evenodd"
        ></path>
      </svg>
    <% end %>

    <%= link_to "https://twitter.com/trampoline_to", rel: "nofollow", target: "_blank", class: 'text-gray-400 hover:text-gray-500' do %>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
        <path
          d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
        ></path>
      </svg>
    <% end %>

    <%= link_to "https://www.youtube.com/channel/UCZ3PR3LHKJ8akrKDPJ8dEVA", rel: "nofollow", target: "_blank", class: 'text-gray-400 hover:text-gray-500' do %>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 461.001 461.001" aria-hidden="true">
        <path
          d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728
          c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137
          C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607
          c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"
        />
      </svg>
    <% end %>

    <%= link_to "https://vk.com/trampoline_meet_up", rel: "nofollow", target: "_blank", class: 'text-gray-400 hover:text-gray-500' do %>
      <svg class="w-6 h-6 mt-0.5" fill="currentColor" viewBox="0 0 76 76" aria-hidden="true">
        <path
          d="M29.712.082c-7.64.568-14.608 3.71-20.08 9.055C2.436 16.157-1.015 26.097.26 36.082c1.593 12.484 10.397 22.882 22.49 26.56C32.1 65.49 42.506 63.8 50.433 58.16c9.74-6.94 14.807-18.45 13.303-30.233-1.593-12.484-10.397-22.882-22.49-26.56C37.647.266 33.45-.2 29.712.082zm2.44 19.83c1.637.162 2.456.42 2.824.9a3.34 3.34 0 0 1 .339.723c.192.56.2 1.202.08 5.995-.074 2.994-.03 3.916.214 4.58.288.76.922 1.106 1.482.82.51-.265 1.696-1.57 2.47-2.728 1.792-2.655 2.883-4.712 4.196-7.9.265-.627.62-1.04.988-1.136.147-.044 2.234-.08 4.8-.088l4.535-.015.383.162c.494.22.686.51.686 1.032 0 .995-1.04 3.038-2.824 5.538-.243.347-1.165 1.57-2.043 2.728-1.94 2.55-2.36 3.15-2.655 3.768-.37.782-.28 1.423.302 2.183.17.214 1.025 1.077 1.902 1.917 2.456 2.352 3.57 3.59 4.476 4.948.65.98.9 1.703.796 2.323-.052.34-.39.745-.774.944-.457.23-1.158.273-5.014.324l-3.65.052-.6-.2c-1.504-.5-2.507-1.335-4.786-3.975-1.26-1.46-2.197-2.175-2.846-2.183-.597 0-1.357.796-1.68 1.785-.22.664-.302 1.172-.37 2.323-.08 1.357-.243 1.674-1.077 2.02-.302.133-4.063.177-5.06.074-1.998-.22-3.85-.848-5.685-1.932-2.662-1.563-4.292-2.964-6.04-5.19-3.038-3.88-5.1-7.182-7.625-12.167-.973-1.94-2.116-4.447-2.3-5.044-.184-.62.08-1.128.686-1.32.206-.066 1.357-.103 4.01-.14l3.724-.037.435.162c.686.265.973.605 1.438 1.733.398.95 2.544 5.258 3.215 6.46.686 1.217 1.416 2.234 2.043 2.84.774.76 1.12.944 1.667.9.465-.044.6-.147.878-.774.7-1.512.81-6.622.184-8.628-.36-1.143-.9-1.578-2.39-1.895-.258-.06-.258-.147-.022-.494.575-.826 1.6-1.224 3.554-1.386 1.07-.088 4.24-.096 5.118-.007z"
        />
      </svg>
    <% end %>

    <%= link_to "https://www.meetup.com/trampoline-meetups", rel: "nofollow", target: "_blank", class: 'text-gray-400 hover:text-gray-500' do %>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 50 50" aria-hidden="true">
        <path
          d="M 15 1 A 1 1 0 0 0 14 2 A 1 1 0 0 0 15 3 A 1 1 0 0 0 16 2 A 1 1 0 0 0 15 1 z M 28 2 A 2 2 0 0 0 26 4 A 2 2 0 0 0 28 6 A 2 2 0 0 0 30 4 A 2 2 0 0 0 28 2 z M 22 6 C 17.48235 6 13.738866 9.0492814 12.505859 13.177734 C 8.8590136 13.68127 6 16.718827 6 20.5 C 6 21.761639 6.3729967 22.920652 6.9257812 23.964844 C 5.7778597 25.350107 5 27.065231 5 29 C 5 32.711001 7.5914484 35.731677 11.03125 36.626953 C 11.024034 36.754018 11 36.868647 11 37 C 11 41.406438 14.593562 45 19 45 C 20.95236 45 22.662087 44.189143 24.050781 43.023438 C 25.222832 44.175517 26.730827 45 28.5 45 C 31.553976 45 34.022075 42.831549 34.708984 39.980469 C 34.808713 39.984542 34.897309 40 35 40 C 39.958516 40 44 35.958516 44 31 C 44 29.183249 43.372436 27.542062 42.443359 26.126953 C 43.344503 25.153068 44 23.934911 44 22.5 C 44 19.946382 42.197654 17.894354 39.830078 17.285156 C 39.895187 16.858982 40 16.44862 40 16 C 40 11.041484 35.958516 7 31 7 C 29.775918 7 28.657269 7.3609016 27.595703 7.8046875 C 25.993311 6.707691 24.089304 6 22 6 z M 9.5 8 A 1.5 1.5 0 0 0 8 9.5 A 1.5 1.5 0 0 0 9.5 11 A 1.5 1.5 0 0 0 11 9.5 A 1.5 1.5 0 0 0 9.5 8 z M 22 8 C 23.82163 8 25.48845 8.6129062 26.835938 9.6386719 A 1.0001 1.0001 0 0 0 27.886719 9.7382812 C 28.8291 9.2684084 29.880417 9 31 9 C 34.877484 9 38 12.122516 38 16 C 38 16.605714 37.91376 17.19493 37.763672 17.769531 A 1.0001 1.0001 0 0 0 38.679688 19.021484 C 40.537481 19.117699 42 20.618522 42 22.5 C 42 23.62026 41.4709 24.594301 40.644531 25.242188 A 1.0001 1.0001 0 0 0 40.478516 26.650391 C 41.430823 27.848229 42 29.35156 42 31 C 42 34.877484 38.877484 38 35 38 C 34.710637 38 34.413573 37.974547 34.101562 37.935547 A 1.0001 1.0001 0 0 0 32.980469 38.851562 C 32.80176 41.177231 30.877964 43 28.5 43 C 27.019426 43 25.721227 42.287561 24.898438 41.1875 A 1.0001 1.0001 0 0 0 23.369141 41.101562 C 22.271707 42.269469 20.729031 43 19 43 C 15.674438 43 13 40.325562 13 37 C 13 36.703116 13.029475 36.400326 13.078125 36.085938 A 1.0001 1.0001 0 0 0 12.21875 34.941406 C 9.2728748 34.558057 7 32.05939 7 29 C 7 27.334661 7.6719829 25.841068 8.7617188 24.753906 A 1.0001 1.0001 0 0 0 8.8925781 23.498047 C 8.3277845 22.633048 8 21.610375 8 20.5 C 8 17.528968 10.331684 15.13587 13.269531 15.013672 A 1.0001 1.0001 0 0 0 14.203125 14.234375 C 15.008121 10.667871 18.179527 8 22 8 z M 44 13 A 2 2 0 0 0 42 15 A 2 2 0 0 0 44 17 A 2 2 0 0 0 46 15 A 2 2 0 0 0 44 13 z M 26.941406 15 C 24.941406 15 24.191781 17 23.425781 17 C 22.425781 17 21.190453 16 19.564453 16 C 17.314453 16 16.200609 17.047141 15.724609 18.619141 C 15.361609 19.817141 12.561969 28.836187 12.167969 29.992188 C 11.633969 31.560188 12.521344 33.283844 14.152344 33.839844 C 14.488344 33.954844 14.829063 33.995047 15.164062 33.998047 C 16.454062 34.010047 17.648266 33.251859 18.072266 32.005859 C 18.349266 31.193859 21.200359 23.6305 21.943359 21.6875 C 22.094359 21.2865 22.4825 21 22.9375 21 C 23.5245 21 24 21.4755 24 22.0625 C 24 22.1965 23.974688 22.324359 23.929688 22.443359 C 23.926687 22.451359 21.342484 29.101734 21.146484 29.552734 C 21.050484 29.774734 21.003953 30.004422 21.001953 30.232422 C 20.994953 30.914422 21.389688 31.566469 22.054688 31.855469 C 22.940687 32.240469 23.971422 31.835219 24.357422 30.949219 C 24.540422 30.529219 29.085938 20.599609 29.085938 20.599609 C 29.307938 20.093609 29.897344 19.863938 30.402344 20.085938 C 30.773344 20.248938 30.996953 20.610234 31.001953 20.990234 C 31.003953 21.128234 30.976969 21.268344 30.917969 21.402344 C 30.886969 21.472344 27.368453 28.723953 27.314453 28.876953 C 27.073453 29.547953 27 30.13 27 31 C 27 31.75 27.375 35 33.5 35 C 34.328 35 35 34.328 35 33.5 C 35 32.672 34.328 32 33.5 32 C 31.5 32 31 30.875 31 30 C 31 29.304 31.294 28.472 31.5 28 C 33.625 23.125 35 21.125 35 18.875 C 35 16.875 33.815406 16.005859 32.566406 16.005859 C 31.518406 16.005859 30.567562 16.332703 29.851562 16.970703 C 29.811563 17.006703 29.753375 16.991406 29.734375 16.941406 C 29.305375 15.809406 28.223406 15 26.941406 15 z M 49 20 A 1 1 0 0 0 48 21 A 1 1 0 0 0 49 22 A 1 1 0 0 0 50 21 A 1 1 0 0 0 49 20 z M 2 21 A 2 2 0 0 0 0 23 A 2 2 0 0 0 2 25 A 2 2 0 0 0 4 23 A 2 2 0 0 0 2 21 z M 46.5 25 A 1.5 1.5 0 0 0 45 26.5 A 1.5 1.5 0 0 0 46.5 28 A 1.5 1.5 0 0 0 48 26.5 A 1.5 1.5 0 0 0 46.5 25 z M 8 39 A 1 1 0 0 0 7 40 A 1 1 0 0 0 8 41 A 1 1 0 0 0 9 40 A 1 1 0 0 0 8 39 z M 38 42 A 2 2 0 0 0 36 44 A 2 2 0 0 0 38 46 A 2 2 0 0 0 40 44 A 2 2 0 0 0 38 42 z M 23.5 46 A 1.5 1.5 0 0 0 22 47.5 A 1.5 1.5 0 0 0 23.5 49 A 1.5 1.5 0 0 0 25 47.5 A 1.5 1.5 0 0 0 23.5 46 z"
        />
      </svg>
    <% end %>
  </div>
</div>
