<div class="flex p-6 pl-3 flex-col bg-white">
  <div class="flex items-center flex-shrink-0 px-4">
    <%= link_to_unless_current image_tag('logo.svg', class: 'logo w-auto h-10', alt: 'Trampoline Logo'), admin_root_url %>
  </div>
  <nav class="mt-5 flex-1 px-2 space-y-1 " aria-label="Sidebar">
    <%= link_to admin_root_path, class: "sidebarLink #{current? "active", admin_root_path}" do %>
      <svg
        class="text-current mr-3 h-6 w-6"
        x-description="Heroicon name: home"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        ></path>
      </svg>
      <span>Dashboard</span>
    <% end %>

    <%= link_to admin_speakers_url, class: "sidebarLink #{current? "active", admin_speakers_url}" do %>
      <svg
        class="mr-3 h-6 w-6 text-current"
        x-description="Heroicon name: users"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
        ></path>
      </svg>
      <span>Speakers</span>
    <% end %>

    <%= link_to admin_events_url, class: "sidebarLink #{current? "active", admin_events_url}" do %>
      <svg
        class="mr-3 h-6 w-6 text-current"
        x-description="Heroicon name: calendar"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
        ></path>
      </svg>
      <span>Events</span>
    <% end %>

    <%= link_to admin_slots_url, class: "sidebarLink #{current? "active", admin_slots_url}" do %>
      <svg
        class="mr-3 h-6 w-6 text-current"
        x-description="Heroicon name: inbox"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"
        ></path>
      </svg>
      <span>Slots</span>
    <% end %>
  </nav>
</div>
