<section class="heroBlock">
  <div class="flex flex-col items-center justify-around">
    <div class="max-w-4xl px-4 pt-24">
      <h1 class="text-5xl md:text-6xl font-bold text-center">Регулярные встречи с&nbsp;экспертами в&nbsp;разработке.</h1>
    </div>

    <div class="w-full py-10 px-16 md:py-18 md:px-52 flex justify-center items-center">
      <%= image_tag('logo-textless.svg', class: 'h-full w-full max-w-sm', alt: 'Trampoline Logo') %>
    </div>
  </div>
</section>

<section class="blockWrapper">
  <h2 class="text-3xl md:text-5xl font-medium md:font-light">Митапы каждый последний четверг месяца в&nbsp;офисе JetRockets</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
    <dl>
      <dt class="text-xl font-semibold">Формат</dt>
      <dd class="text-xl font-light">Trampoline приглашает интересных IT-практиков для обмена опытом в&nbsp;неформальной обстановке.</dd>
    </dl>

    <dl>
      <dt class="text-xl font-semibold">Кому</dt>
      <dd class="text-xl font-light">
        Для занятых в&nbsp;IT-производстве, нуждающихся во&nbsp;вдохновении, новых идеях, подходах и&nbsp;просто желающих пообщаться в&nbsp;кругу своих.
      </dd>
    </dl>

    <dl>
      <dt class="text-xl font-semibold">Afterparty в&nbsp;баре 🎉 🥳 🔥</dt>
      <dd class="text-xl font-light">После митапа идем тусить в&nbsp;какой-нибудь бар. Почему это важно, нетворкинг и&nbsp;бла-бла-бла</dd>
    </dl>

    <dl>
      <dt class="text-xl font-semibold">Цель</dt>
      <dd class="text-xl font-light">Создать профессиональную платформу для общения и&nbsp;обмена опытом.</dd>
    </dl>
  </div>
</section>

<section class="blockWrapper">
  <div>
    <h2 class="text-center mb-5 text-3xl md:text-5xl font-medium md:font-light">You&rsquo;re in&nbsp;good company</h2>
    <div class="mx-auto max-w-5xl mb-">
      <p class="text-center text-2xl md:text-4xl font-medium md:font-extralight">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-32 gap-y-16">
    <dl class="space-y-6">
      <dt class="text-2xl font-extrabold flex flex-col justify-center text-center items-center">
        <span class="text-6xl">12</span>
        <span>митапов</span>
      </dt>
      <dd class="mx-auto text-xl font-light text-center max-w-sm">Успели провести уже 12&nbsp;мероприятий, пока все в&nbsp;Твери</dd>
    </dl>

    <dl class="space-y-6">
      <dt class="text-2xl font-extrabold flex flex-col justify-center text-center">
        <span class="text-6xl">30+</span>
        <span>экспертов</span>
      </dt>
      <dd class="m-auto text-xl font-light text-center max-w-sm">Ведущие профессионалы IT-индустрии страны.</dd>
    </dl>

    <dl class="space-y-6 sm:col-span-2 lg:col-span-1">
      <dt class="text-2xl font-extrabold flex flex-col justify-center text-center">
        <span class="text-6xl">1200+</span>
        <span>участников</span>
      </dt>
      <dd class="mx-auto text-xl font-light text-center max-w-sm">Разработчики, менеджеры проектов, QA&nbsp;инженеры, студенты</dd>
    </dl>
  </div>
</section>

<section class="blockWrapper sm:pt-12 lg:pt-20 sm:pb-24 lg:pb-44 space-y-8 sm:space-y-16">
  <div>
    <div class="mb-8 sm:mb-12">
      <h2 class="text-center sm:text-left mb-5 text-3xl md:text-5xl font-medium md:font-light">Афиша</h2>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-16 gap-8 mb-8">
      <div class="flex sm:flex-col sm:justify-start sm:items-start justify-between items-center space-y-3">
        <h3 class="text-2xl md:text-4xl font-semibold md:font-light">Когда?</h3>

        <div class="flex items-center text-right sm:text-left space-x-3">
          <span class="text-5xl md:text-6xl font-extrabold">24</span>
          <div class="flex flex-col">
            <span class="font-extrabold text-xl leading-6">февраля</span>
            <span class="font-medium text-2xl leading-6">19:00</span>
          </div>
        </div>
      </div>

      <div class="flex sm:flex-col sm:justify-start sm:items-start justify-between items-center space-y-3">
        <h3 class="text-2xl md:text-4xl font-semibold md:font-light">Где?</h3>

        <div class="flex flex-col text-right sm:text-left space-y-1">
          <span class="font-extrabold text-xl">Офис JetRockets</span>
          <span class="text-md font-light">Тверь, ул.&nbsp;15&nbsp;лет Октября, 10&nbsp;Б</span>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-16 gap-8">
    <%=
      render SpeakerCard::Component.new(
               name: 'Андрей Новиков',
               description: 'Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.',
               img_url: 'novikov.jpeg',
             )
    %>
    <%=
      render SpeakerCard::Component.new(
               name: 'Дарья Пушкарская',
               description: 'Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
               img_url: 'pushkarskaya.jpeg',
             )
    %>
  </div>
</section>

<section class="blockWrapper">
  <div>
    <h2 class="text-center mb-5 text-3xl md:text-5xl font-medium md:font-light">Всё для всех бесплатно</h2>
    <div class="mx-auto max-w-5xl">
      <p class="text-center text-2xl md:text-4xl font-medium md:font-extralight">
        Никаких входных билетов для участников и&nbsp;никаких гонораров выступающим.
      </p>
    </div>
  </div>

  <div class="flex flex-col-reverse md:flex-row justify-between items-center">
    <div class="md:w-1/2 space-y-10">
      <p class="text-lg font-light">
        Все мероприятия бесплатные и&nbsp;открыты для всех желающих. Тематика и&nbsp;подача ориентирована на&nbsp;широкого слушателя.
      </p>
      <p class="text-lg font-light">
        На&nbsp;мероприятиях выступают ведущие в&nbsp;стране специалисты в&nbsp;области дизайна (графический, цифровой, средовой, предметный и&nbsp;пр.)
      </p>
      <p class="text-lg font-light">Выступающие не&nbsp;получают никаких гонораров и&nbsp;участвуют в&nbsp;мероприятиях по&nbsp;собственной инициативе.</p>
      <p class="text-lg font-light">
        Мероприятия построены на&nbsp;принципах максимально открытого и&nbsp;честного обмена знаниями и&nbsp;опытом между всеми участниками.
      </p>
    </div>

    <div class="flex flex-1 justify-center md:justify-end w-full md:w-1/2 mb-7 md:mb-0">
      <%= image_tag('logo-textless.svg', class: 'h-full w-full', alt: 'Trampoline Logo') %>
    </div>
  </div>
</section>

<section class="blockWrapper sm:px-12 lg:px-24 sm:py-12 lg:py-20">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-32 gap-y-16">
    <div class="flex justify-center">
      <%= image_tag('logo-textless.svg', class: 'max-w-lg', alt: 'Trampoline Logo') %>
    </div>
    <div class="flex justify-center">
      <%= image_tag('logo-textless.svg', class: 'max-w-lg', alt: 'Trampoline Logo') %>
    </div>
    <div class="flex justify-center sm:col-span-2 lg:col-span-1">
      <%= image_tag('logo-textless.svg', class: 'max-w-lg', alt: 'Trampoline Logo') %>
    </div>
  </div>
</section>

<section class="blockWrapper sm:px-12 lg:px-24 sm:py-12 lg:py-20">
  <p class="text-lg font-light max-w-4xl">
    Мы&nbsp;проводим Trampoline для систематизации и&nbsp;распространения успешного опыта, формирования горизонтальных профессиональных связей между участниками
    и&nbsp;укрепления в&nbsp;регионах местных дизайн-сообществ.
  </p>
</section>
