<section class="blockWrapper py-10">
  <div class="flex flex-col items-center justify-around space-y-7 md:space-y-12">
    <div class="max-w-4xl px-4 pt-24">
      <h1 class="text-4xl md:text-6xl font-bold text-center">Ближайшее мероприятие</h1>
    </div>

    <div class="text-center">
      <div class="text-gray-500 text-md md:text-xl italic">Митап №8</div>
      <div class="text-2xl md:text-5xl font-bold mb-3">24 февраля 19:00</div>
      <div class="text-gray-500 text-md md:text-xl italic">
        Площадка: офис JetRockets в&nbsp;Твери <br />Адрес: Тверь, ул.&nbsp;15&nbsp;лет Октября, 10&nbsp;Б
      </div>
    </div>

    <div class="space-y-10 lg:space-y-20">
      <%= render SlotCard::Component.new %>
      <%= render SlotCard::Component.new %>
    </div>

    <div class="w-full max-w-sm">
      <button
        class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Записаться
      </button>
    </div>
  </div>
</section>

<section class="blockWrapper py-10">
  <div class="flex flex-col flex-1 w-full items-center justify-center">
    <div class="max-w-4xl px-4 mb-7">
      <h2 class="text-4xl md:text-6xl font-bold text-center">Прошедшие мероприятие</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 w-full">
      <%= render EventCard::Component.new %>
      <%= render EventCard::Component.new %>
      <%= render EventCard::Component.new %>
      <%= render EventCard::Component.new %>
      <%= render EventCard::Component.new %>
      <%= render EventCard::Component.new %>
    </div>
  </div>
</section>

<%= render Blocks::FreeSharing::Component.new %>
