<!DOCTYPE html>

<html>
  <head>
    <title>Trampoline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="turbo-cache-control" content="no-cache" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="body">
    <main class="flex flex-1 h-screen bg-white overflow-hidden">
      <div class="main">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
